html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img {
  display: block;
  width: 100%;
  height: 274px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.gallery-item {
  border-radius: 3%;
  background-color: blanchedalmond;
  width: 23%;
  margin: 5px;
}

.stats {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.material-icons {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.photo {
  width: 100%;
  height: 50%;
}

.loadMore-button {
  display: block;
  border: none;
  border-radius: 50%;
  background-color: blanchedalmond;
  width: 147px;
  height: 73px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 0 auto;
}

.loadMore-button:hover,
.loadMore-button:focus {
  background-color: rgb(202, 141, 130);
}
.hidden {
  display: none;
}

.search-form {
  text-align: center;
}

.input-text {
  border: none;
  border-radius: 50%;
  background-color: blanchedalmond;
  width: 217px;
  height: 73px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
